* {
	font-size: 14px;
	min-height: 0;
	color: #b7b6a1;
}

#waybar {
	padding: 0 12px;
	background: unset;
}

.modules-left > *,
.modules-center > *,
.modules-right > * {
	background-color: #031417;
	border-radius: 16px;
}

#workspaces,
#mode,
#tray,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#clock,
#battery {
	padding: 4px 16px;
}

#workspaces button {
	border: none;
	border-radius: 0;
	border-top: 3px solid #031417;
	border-bottom: 3px solid #031417;
}

#workspaces button.visible {
	border-bottom: 3px solid #d4be98;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background: inherit;
	transition: inherit;
}

#workspaces > * {
	padding: 0 2px;
}

#battery.warning,
#battery.critical {
	border-radius: 16px;
	background-color: #031417;
}

#battery.warning.discharging {
	border: 2px solid yellow;
	color: yellow;
}

#battery.critical.discharging {
	border: 2px solid red;
	color: red;
}

#battery.charging {
	border: none;
	color: #d4be98;
}
